.qualification_page {
	/* border: 1px solid red; */
	/* margin-top: 7rem; */
}
.head_section {
	border-bottom: 1px solid rgb(214, 214, 214);
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 2rem;
}
.head_section_right {
	display: flex;
	align-items: center;
	/* border: 1px solid red; */
}
.head_section_left .title {
	font-size: 30px;
	font-weight: 500;
}
.head_section_right_btns {
	display: flex;
	/* border: 1px solid red; */
	/* margin-top: 1.3rem; */
}
.head_section_right_btns button {
	margin: 0 5px;
}
.add_qualification_btn,
.manage_logic_btn,
.search_btn {
	outline: none;
	padding: 9px 20px;
	border: 1px solid rgb(206, 206, 206);
	background-color: rgb(236, 231, 231);
	color: rgb(61, 61, 61);
	border-radius: 2px;
	cursor: pointer;
}
.add_qualification_btn:hover,
.search_btn:hover,
.manage_logic_btn:hover {
	background-color: rgb(218, 218, 218);
	box-shadow: 0 0 2px 0px gray;
}

.select_input_field {
	padding: 7.2px;
	border-radius: 2px;
	border-color: rgb(219, 216, 216);
}
.survay_name_search {
	margin: 0 5px;
	/* border: 1px solid red; */
}
.survay_name_search input {
	height: 1.8rem;
	border-radius: 2px;
	border: 1px solid rgb(206, 206, 206);
	outline: none;
}

.survey_info_section {
	display: flex;
	align-items: flex-start;
	justify-content: start;
	/* border: 1px solid red; */
	/* padding-left: 2rem; */
}
.survey_info_section > div {
	margin: 1.5rem 2rem;
}
.survey_info_section > div > p {
	color: blue;
	font-size: 18px;
}

/* table   */
.table_section {
	overflow-x: auto;
	margin: 0 2rem;
	margin-bottom: 2rem;
}
.qualification_table {
	/* border: 1px solid red; */
}
.qualification_table > thead > tr > th {
	text-align: start;
	/* border: 1px solid red; */
	padding: 12px 5px;
	font-size: 14px;
	color: rgb(92, 92, 92);
	background-color: rgb(236, 231, 231);
}

.qualification_table tbody > tr > td {
	padding: 10px 5px;
	text-align: start;
	font-size: 13px;
	color: rgb(83, 83, 83);
	border-bottom: 1px solid rgb(223, 218, 218);
	/* border: 1px solid red; */
}

.qualification_table tbody > tr:nth-child(even) {
	background-color: rgb(243, 242, 242);
}
.condition_tag {
	padding: 3px 7px;
	color: rgb(27, 27, 27);
	margin: 0 2px;
	font-size: 12px;
	border: 1px solid rgb(199, 196, 196);
}
.table_function_col {
	display: flex;
	flex-direction: column;
}
.table_function_col > span {
	cursor: pointer;
}
.table_function_col > span:hover {
	text-decoration: underline;
}
